body{
    
    font-size: 15px;
}
article{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10% auto;
    background-color: aliceblue;
    width: 55%;

}
.sedan{
    background-color: hsl(31, 77%, 52%);
    padding: 15%;
}
.suv{
    background-color: hsl(184, 100%, 22%);
    padding: 15%;
}
.lux{
    background-color: hsl(179, 100%, 13%);
    padding: 15%;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family:Lexend Deca;
    font-weight: 400;
    padding:5% 0;
    

}
h2{
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display;
    font-weight: 700;
    font-size: 40px;
}
a{
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: white;
    padding:10px 30px;
    border-radius: 30px;
    font-family:Lexend Deca;
    font-size: 15px;
    font-weight: 400;
    margin-top: 25%;
}
.sedan a{
    color: hsl(31, 77%, 52%);
}
.suv a{
    color: hsl(184, 100%, 22%);
}
.lux a{
    color:hsl(179, 100%, 13%);
}
.sedan a:hover{
    color: white;
    border:  solid white;
    background-color: hsl(31, 77%, 52%);
}
.suv a:hover{
    color: white;
    border:  solid white;
    background-color: hsl(184, 100%, 22%);
}
.lux a:hover{
    color: white;
    border:  solid white;
    background-color: hsl(179, 100%, 13%);
}

